.header {
    position: -webkit-sticky;
    margin-top: -8px;
    background-color: darkred;
}

a.do:link {
    margin-left: 850px;
    font-size: 20px;
    position: absolute;
    top: 55px;
    left: -25px;
    text-decoration: none;
    color: black;
}

a.do:visited {
    text-decoration: none;
    color: black;
}

a.do:hover {
    text-decoration: none;
    color: black;
}

a.do:active {
    text-decoration: none;
    color: black;
}

a.but:link {
    margin-left: 700px;
    font-size: 20px;
    position: absolute;
    top: 55px;
    left: 30px;
    text-decoration: none;
    color: black;
}

a.but:visited {
    text-decoration: none;
    color: black;
}

a.but:hover {
    text-decoration: none;
    color: black;
}

a.but:active {
    text-decoration: none;
    color: black;
}

a.cont:link {
    margin-left: 900px;
    font-size: 20px;
    position: absolute;
    top: 55px;
    left: 42px;
    text-decoration: none;
    color: black;
}

a.cont:visited {
    text-decoration: none;
    color: black;
}

a.cont:hover {
    text-decoration: none;
    color: black;
}

a.cont:active {
    text-decoration: none;
    color: black;
}

#logo {
    margin-left: 45%;
    margin-top: -10px;
}

.hed {
    border-color: black;
    width: 100.6%;
    margin-top: -18px;
    margin-left: -10px;
}

iframe {
    border-width: 0px;
    border-style: none;
    border-color: white;
    border-image: none;
    width: 100%;
}

.msg{
    margin-left: 1000px;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 150px;
 
    color: black;
}

.sair{
    margin-left: 920px;
    font-size: 20px;
    position: absolute;
    top: 55px;
    left: 150px;
    text-decoration: none;
    color: black;
}

body{
    margin: 0px;
    background-color: lightsteelblue;
}

.prin{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkred;
}

.sub{
    margin-left: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkred;
}

li{
    margin-left: 150px;
}

a.download:link {
    margin-left: 190px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    text-decoration: none;
    color: darkred;
}

a.download:visited {
    text-decoration: none;
    color: darkred;
}

a.download:hover {
    text-decoration: none;
    color: darkred;
}

a.download:active {
    text-decoration: none;
    color: darkred;
}

.labeleng{
    margin-left: 162px;
    margin-top: -155px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

.labelins{
    margin-left: 162px;
    margin-top: -155px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

a.inscreva:link {
    margin-left: 257px;
    margin-top: -155px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: darkred;
}

a.inscreva:visited {
    text-decoration: none;
    color: darkred;
}

a.inscreva:hover {
    text-decoration: none;
    color: darkred;
}

a.inscreva:active {
    text-decoration: none;
    color: darkred;
}