.tud{
    text-align: center;
    padding: 350px;
    margin-right: 20px;
}

.us{
    margin-right: 67px;
}

.em{
    margin-right: 79px;
}

.sen{
    margin-right: 78px;
}

.cose{
    margin-right: 2px;
}

h1{
    font-size: 70px;
    margin-top: -200px;
}

body{
    background-image: url('imagem/1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
