h1{
    position: absolute;
    margin-left: 575px;
}

.nome{
    position: absolute;
    margin-left: 570px;
    margin-top: 160px;
    border-radius: 5px;
}

.email{
    position: absolute;
    margin-left: 570px;
    margin-top: 180px;
    border-radius: 5px;
}

.senha{
    position: absolute;
    margin-left: 570px;
    margin-top: 200px;
    border-radius: 5px;
}

.estado{
    position: absolute;
    margin-left: 570px;
    margin-top: 220px;
    border-radius: 5px;
}

.data{
    position: absolute;
    margin-left: 570px;
    margin-top: 255px;
    border-radius: 5px;
}

.cadastrar{
    position: absolute;
    margin-left: 615px;
    margin-top: 270px;
    border-radius: 5px;
}

